.custom-image {
    width: 50x;
    height: 50px;
  }

  .subtext {
    font-size: 18px;
    color: gray;
    margin-top: 10px;
    text-align: center;
  }
  
  .title-container {
    text-align: center;
  }
  
  .fixed-height {
    height: 200px;
  }
  /* .navbar-brand {
    border: none;
    padding: 0;
  }
  .navbar-logo {
    display: block;
  } */